html, body {
    margin: 0;
    padding: 0;
    background-color:#cccccc;
    font-family: Arial, Helvetica, sans-serif;
    height:100%;
}

#navContent{
    margin:auto;	
    width:800px;
    /*min-height:100%;*/
    position:relative;
    /*overflow:hidden;*/
}

#game1{
    margin:auto;
    width:800px;
    height:100%;
    right:0px;
    position:absolute;
}

#menu1{
    margin:auto;
    width:800px;
    height:100%;
    right:0px;
    position:relative;
}

#game2{
    margin:auto;	
    width:800px;
    height:100%;
    right:-800px;
    position:absolute;
} 

.questionText{
    font-size:27px;
    color:#222222;
    /*background-color:#AAAAAA*/
}

.textareawrapper {
    font-size:18px;
    color:#222222;
    padding: 5px 10px;
    background-color: #ffffff;
    border-radius:3px;
    box-shadow:0 1px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.block_container{
    overflow: hidden;
    margin-top:15px;
    margin-bottom:15px;
    width:348px;
    box-shadow:0 1px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.block{
    overflow: hidden;
    margin-top:15px;
    margin-bottom:15px;
}

.optionLetter{
    border-radius:3px;
    overflow: hidden;
    float:left;
    width:20px;
    height:30px;
    /*margin:15px;*/
    font-size:18px;
    color:#FFFFFF; 
    padding:4px;
    padding-left:10px;
    /*border: 2px solid #cccccc;*/
    cursor:pointer;
    background-color:#222222;
}

.option{
    min-width:300px;
    min-height:30px;
    border-radius:3px;
    /*margin:15px;*/
    font-size:18px;
    color:#222222; 
    padding:4px;
    padding-left:10px;
    /*border: 2px solid #cccccc;*/
    cursor:pointer;
    background-color:#FFFFFF;
    float:left
}

.optionWrong{
    border-radius:3px;
    min-width:300px;
    min-height:30px;
    /*margin:15px;*/
    font-size:18px;
    color:white; 
    padding:4px;
    padding-left:10px;
    /*border: 2px solid #cccccc;*/
    cursor:pointer;
    background-color:#CC3300;
    float:left
}

.optionRight{
    border-radius:3px;
    min-width:300px;
    min-height:30px;
    /*margin:15px;*/
    font-size:18px;
    color:white; 
    padding:4px;
    padding-left:10px;
    /*border: 2px solid #cccccc;*/
    cursor:pointer;
    background-color:#009900;
    float:left
}

.option:hover{
    /*border:#FFF solid 2px;*/
    color:#FFF;
    background-color:#555555;
}

.option:active{
    background-color: #888888;
    box-shadow:inset 0px 0px 10px 5px rgba(255,255,255,0.3)
}

#header{
    width: 100%;
    height: 50px;
    font-family:Master of Break;
    color:#FFF;
    text-shadow: 2px 2px 3px black;
    font-size: 36px;
    background-color: #333333;
    box-shadow:0 1px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-bottom:solid #AAAAAA 1px;
    padding:3px;
    padding-left:20px;
}

#topbar{
    height:50px;
    margin:auto;
    margin-top:50px;
    padding-left:20px;
    color:#222222;
    text-shadow: 0px 1px 2px black;
    font-size:36px;
    font-family:Master of Break;
    width:800px;
    border-bottom:solid #222222 1px;
}
 
.spacer{
    height:30px;
}

.feedback1{
    border-radius:3px;
    width:150px;
    padding:5px;
    height:50px;
    font-size:30px;
    font-family:Master of Break;
    vertical-align: middle;
    color:#FFFFCC;
    background-color:#009900;
    text-align:center;
    float:left;
    box-shadow:0 1px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-shadow: 2px 0 0 #fff;
}

.feedback2{
    border-radius:3px;
    width:150px;
    padding:5px;
    height:50px;
    font-size:30px;
    font-family:Master of Break;
    color:#FFFFCC;
    border-bottom: solid 2px #8b2300;
    background-color:#CC3300;
    text-align:center;
    vertical-align: middle;
    float:left;
    box-shadow:0 1px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.questionHelp{
    border-radius:3px;
    font-size:18px;
    color:#222222;
    /*border: 2px solid #cccccc;*/
    background-color:#FFFFFF;
    padding:4px;
    padding-left:10px;
    box-shadow:0 1px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.botaoProximo{
    border-radius:3px;
    border-bottom: solid 2px #888888;
    width:150px;
    height:50px;
    font-size:30px;
    color:#222222; 
    text-align:center;
    vertical-align: middle;
    background-color:#FFFFFF;
    padding:4px;
    padding-left:10px;
    float:right;
    cursor:pointer;
    box-shadow:0 1px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.botaoProximo:hover{
    /*border:#FFF solid 2px;*/
    color:#FFF;
    background-color:#555555;
}

.botaoMenu{
    width:250px;
    height:50px;
    border-radius:3px;
    font-size:30px;
    color:white;
    text-align:center;
    margin: auto;
    margin-bottom:15px;
    background-color:#222222;
    padding:4px;
    padding-left:10px;
    cursor:pointer;
    box-shadow:0 1px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.timer{
    width: 100%;
    font-size: 28px;
    color: black;
    float:left;
    text-align: center;
}

.tableTime{
    margin:auto;   
    padding: 5px 10px;	
    width:800px;
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
}

.tableTimeFixed{
    color:black;
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0)); /* Standard syntax */
    text-shadow:
   -1px -1px 0 #FFF,  
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
     1px 1px 0 #FFF,
}

.bgTempos{
    width: 100%;

}

.stick{
    z-index: 9999;
    position:fixed;
    top:0px;
    color: black;
}

#titleHelp{
    font-family:Master of Break;
    font-size:24px;
    color:#222222;
}

#tituloQuestao{
    font-size:24px;
    color:#222222;
}
 
@media screen and (max-width:800px) {
	#topbar{margin-left:1%;margin-right:1%;	width:96%;}
	#navContent{margin:1%;	width:98%;}
	#game1{margin:1%;	width:98%;}
	#game2{margin:1%;	width:98%;}
    #menu1{margin:1%;	width:98%;}


}

@media screen and (max-width:460px) {
	/*.option{width:60%;margin:5%;}*/
}

@font-face
{
    font-family:Master of Break;
    src:url('fonts/master_of_break.ttf');
}